/*@import "~bootstrap";*/
@import "../css/basic.css";
@import "../css/extra.css";
@import "../css/fonts.css";
body {
    background-color: white;
}

.alert-warning {
    padding: 20px;
    background-color: #f98561;
    color: white;
    margin-bottom: 15px;
}
